/*font-family: 'EB Garamond', serif;
font-family: 'Jost', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Noto Serif KR', serif;*/

:root {
    font-size: 15px;
    /*size*/
    --vh: 1vh;
    --min_gap: 15px;
    /*font*/
    --font_h1: 500 calc(0.85rem + 1vw) / calc(1rem + 1.4vw) 'Noto Serif KR',
        serif;
    --font_mid: 400 calc(0.7rem + 1.5vw) / calc(1rem + 2.4vw) 'Noto Sans KR',
        sans-serif;
    --font_small: 400 calc(0.4rem + 0.6vw) / calc(0.6rem + 0.9vw) 'Noto Sans KR',
        sans-serif;
    --font_orbit: 500 calc(0.6rem + 1vw) / calc(0.6rem + 0.96vw) 'Noto Serif KR',
        serif;
    /*BG palette*/
    --color: #e6e6e6;
    /*orbiting angle*/
    --orbit: rotateX(-115deg) rotateY(10deg);
    --deptWidth: ;
    /* --orbit-mid: rotateX(-120deg) rotateY(30deg) rotateZ(-30deg);
    --orbit-narrow: rotateX(-120deg) rotateY(50deg) rotateZ(-30deg);*/
    --offset: -45vw;
    --zAngle: 0deg;
    /*exbinfo position*/
    --exbInfoT: ;
    --exbInfoL: ;
}
* {
    word-break: keep-all;
}
html {
    height: calc(var(--vh) * 100);
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--color);
    height: calc(var(--vh) * 100);
    width: 100vw;
    display: flex;
    transition: background-color 0.3s;
    overflow: hidden;
}
a {
    color: inherit;
    text-decoration-thickness: 1px;
    text-underline-offset: 5%;
}
a:hover {
    text-decoration: none;
}
.container {
    padding: 20px 25px;
    width: 100vw;
    height: calc(var(--vh) * 100);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header {
    position: relative;
    display: flex;
    white-space: nowrap;
    line-height: 1.4;
    justify-content: space-between;
    z-index: 3000;
}
header a {
    text-decoration: none;
}
header a:hover span {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}
header a:hover .kr {
    text-underline-offset: 0.12em;
}
header a:hover .en {
    text-underline-offset: 0.15em;
}
h1 {
    font: var(--font_h1);
    margin: 0;
}
h1 .kr {
    font-size: calc(0.8rem + 0.9vw);
}
h1 .kr .ml-en {
    font-size: calc(0.85rem + 1vw);
}
main {
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    padding: calc(3 * var(--vh)) 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
}
.block {
    border: 1px solid black;
    padding: 6px 9px;
    background-color: var(--color);
    transition: background-color 0.3s;
}
.orbit {
    position: absolute;
    width: calc(-2.4 * var(--offset));
    height: calc(-2.4 * var(--offset));
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    transform: var(--orbit);
    transition: transform 0.5s;
}
ul.deptList {
    display: flex;
    position: absolute;
    margin: 0;
    padding: 0;
    font: var(--font_orbit);
    list-style: none;
    transform-style: preserve-3d;
    transform-origin: center center;
    transform-box: fill-box;
    animation: three-dimensions-circle 44s linear infinite;
}
li.dept {
    position: absolute;
    display: inline-block;
    text-align: center;
    width: var(--deptWidth);
    animation: background-blur 22s alternate infinite;
    font: var(--font_orbit);
    will-change: transform;
    z-index: 11;
}
.activeDept {
    font-weight: bold !important;
    filter: blur(0) !important;
}
li.dept:hover {
    cursor: default;
}
li.dept:nth-child(1) {
    transform: translate(-50%, -50%) rotate(0deg) translateY(var(--offset))
        rotateX(90deg) rotateZ(var(--zAngle));
    animation-delay: 0s;
}
li.dept:nth-child(2) {
    transform: translate(-50%, -50%) rotate(calc(360deg / 11))
        translateY(var(--offset)) rotateX(90deg) rotateZ(var(--zAngle));
    animation-delay: -40s;
}
li.dept:nth-child(3) {
    transform: translate(-50%, -50%) rotate(calc(720deg / 11))
        translateY(var(--offset)) rotateX(90deg) rotateZ(var(--zAngle));
    animation-delay: -36s;
}
li.dept:nth-child(4) {
    transform: translate(-50%, -50%) rotate(calc(1080deg / 11))
        translateY(var(--offset)) rotateX(90deg) rotateZ(var(--zAngle));
    animation-delay: -32s;
}
li.dept:nth-child(5) {
    transform: translate(-50%, -50%) rotate(calc(1440deg / 11))
        translateY(var(--offset)) rotateX(90deg) rotateZ(var(--zAngle));
    animation-delay: -28s;
}
li.dept:nth-child(6) {
    transform: translate(-50%, -50%) rotate(calc(1800deg / 11))
        translateY(var(--offset)) rotateX(90deg) rotateZ(var(--zAngle));
    animation-delay: -24s;
}
li.dept:nth-child(7) {
    transform: translate(-50%, -50%) rotate(calc(2160deg / 11))
        translateY(var(--offset)) rotateX(90deg) rotateZ(var(--zAngle));
    animation-delay: -20s;
}
li.dept:nth-child(8) {
    transform: translate(-50%, -50%) rotate(calc(2520deg / 11))
        translateY(var(--offset)) rotateX(90deg) rotateZ(var(--zAngle));
    animation-delay: -16s;
}
li.dept:nth-child(9) {
    transform: translate(-50%, -50%) rotate(calc(2880deg / 11))
        translateY(var(--offset)) rotateX(90deg) rotateZ(var(--zAngle));
    animation-delay: -12s;
}
li.dept:nth-child(10) {
    transform: translate(-50%, -50%) rotate(calc(3240deg / 11))
        translateY(var(--offset)) rotateX(90deg) rotateZ(var(--zAngle));
    animation-delay: -8s;
}
li.dept:nth-child(11) {
    transform: translate(-50%, -50%) rotate(calc(3600deg / 11))
        translateY(var(--offset)) rotateX(90deg) rotateZ(var(--zAngle));
    animation-delay: -4s;
}
@keyframes three-dimensions-circle {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(-360deg);
    }
}
@keyframes background-blur {
    0% {
        filter: blur(0);
    }
    44% {
        filter: blur(0);
    }
    66% {
        filter: blur(0.25rem);
    }
    100% {
        filter: blur(0.5rem);
    }
}
.graphic {
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: center;
    top: -5%;
}
.graphic > img {
    position: absolute;
    visibility: hidden;
    min-width: 300px;
    /*width: 100%;*/
    height: 100%;
    max-height: 35vw;
    max-height: calc(7rem + 35vw);
    aspect-ratio: 1;
    opacity: 1;
    transition: opacity 0.5s;
    animation: up-down alternate infinite ease-in-out;
    background: center center / contain no-repeat;
    will-change: transform;
    outline: none;
    pointer-events: none;
    z-index: 5;
}
.graphic > img:nth-child(1) {
    animation-delay: 0s;
    animation-duration: 3s;
}
.graphic > img:nth-child(2) {
    animation-delay: 0s;
    animation-name: down-up;
    animation-duration: 2s;
}
.graphic > img:nth-child(3) {
    animation-delay: 1.5s;
    animation-duration: 3.5s;
}
.graphic > img:nth-child(4) {
    animation-delay: 1s;
    animation-duration: 3s;
    animation-name: down-up;
}
.graphic > img:nth-child(5) {
    animation-delay: 0.5s;
    animation-duration: 2.5s;
    animation-name: down-up;
}
footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
}
footer > div {
    display: flex;
}
.info {
    margin-left: 10px;
    align-items: center;
    font: var(--font_small);
}
button {
    all: unset;
}
#about {
    position: relative;
    cursor: pointer;
    width: calc(2rem + 3vw);
    min-width: fit-content;
    min-width: -moz-fit-content;
    height: fit-content;
    height: -moz-fit-content;
    padding: 0 6px;
    text-align: center;
    z-index: 5000;
}
#about > * {
    pointer-events: none;
}
.clickedBtn {
    font-style: italic !important;
}
hr {
    background-color: black;
    border: none;
    width: 100%;
    height: 1px;
}
.modal {
    font: var(--font_mid);
    position: absolute;
    box-sizing: border-box;
    padding: 0;
    top: 80px;
    right: 25px;
    width: 25%;
    min-width: 350px;
    height: calc(100 * var(--vh) - 200px);
    font-size: calc(0.6rem + 0.5vw);
    line-height: calc(0.9rem + 1vw);
    z-index: 5000;
    -webkit-transform: translate3d(0, 0, 3000px);
}
.modal .ml-en,
.modal .ml-num {
    line-height: calc(0.63rem + 0.7vw);
}
.modal hr {
    margin-bottom: 20px;
}
.modal p:first-of-type {
    margin-top: 0;
}
.modal-wrapper::-webkit-scrollbar {
    width: 20px;
}
.modal-wrapper::-webkit-scrollbar-thumb {
    outline: 1px solid black;
    outline-offset: -7px;
}
.modal-wrapper::-webkit-scrollbar-track {
}
@-moz-document url-prefix() {
    .modal {
        padding-right: 25px;
    }
}
.modal-wrapper {
    height: calc(100% - 20px);
    margin-top: 20px;
    padding: 0 5px 21px 25px;
    overflow: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    scrollbar-color: var(--color) ghostwhite; /*moz*/
    scrollbar-width: thin; /*moz*/
}
.modal-wrapper * {
    pointer-events: none;
}
.modal a {
    pointer-events: all;
}
.close {
    background-color: var(--color);
    z-index: 12;
    position: sticky;
    width: 100%;
    bottom: -1px;
    font: var(--font_h1);
    padding-bottom: 20px;
    text-align: center;
    pointer-events: inherit;
}
.close div {
    pointer-events: inherit;
    cursor: pointer;
}
.close hr {
    margin-top: 0;
    margin-bottom: 18px;
}
.modal-content {
    display: flex;
    flex-direction: column;
}
.subtitle {
    text-decoration: underline;
    text-underline-offset: 10%;
}
.logo {
    height: 45px;
    margin-right: 30px;
}
header .kr::after {
    content: '';
    display: inline-block;
    width: 7px;
}
.onmobile {
    display: none;
}
.ontablet {
    display: none;
}
.tooltip {
    position: absolute;
    white-space: nowrap;
    transition: background-color 0.3s;
    font: var(--font_orbit);
    line-height: 1.4;
    width: fit-content;
    width: -moz-fit-content;
    padding: 4px 9px 3px 9px;
    top: var(--exbInfoT);
    left: var(--exbInfoL);
    z-index: 12;
    -webkit-transform: translate3d(0, 0, 2000px);
}
.title1::after {
    content: '';
    display: inline-block;
    width: 3px;
}
.exbInfo .ml-en,
.exbInfo .ml-num {
    font-style: italic;
}
.title1 .ml-num {
    font-style: normal;
}
footer .ml-en,
footer .ml-num,
.modal .ml-en,
.modal .ml-num {
    font-family: 'Jost', sans-serif;
}
header .ml-en,
header .ml-num,
.tooltip .ml-en,
.tooltip .ml-num,
.close .ml-en,
.close .ml-num,
.dept .ml-en,
.dept .ml-num {
    font-family: 'EB Garamond', 'Noto Serif KR', serif;
    position: relative;
    top: -0.04em;
}
.ml-en,
.ml-num {
    pointer-events: none;
}
@keyframes up-down {
    0% {
        /*transform: translateX(-50%) translateY(0px);*/
        transform: translateX(0) translateY(0px);
    }
    100% {
        /*transform: translateX(-50%) translateY(20px);*/
        transform: translateX(0) translateY(20px);
    }
}
@keyframes down-up {
    0% {
        /*transform: translateX(-50%) translateY(0px);*/
        transform: translateX(0) translateY(0px);
    }
    100% {
        /*transform: translateX(-50%) translateY(20px);*/
        transform: translateX(0%) translateY(20px);
    }
}

@media screen and (max-width: 1300px) {
    .ontablet {
        display: inline;
    }
    .graphic > img {
        height: 80%;
        max-height: calc(15rem + 40vw);
    }
}
@media screen and (max-width: 1023px) {
    .logo {
        width: 20vw;
        margin-right: 7px;
    }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 520px) {
    .container {
        padding: 10px 11px 15px 11px;
    }
    .graphic > img {
        height: 80%;
        max-height: 45vh;
    }
    .logo {
        height: calc(2rem + 2vw);
        object-fit: contain;
    }
    .onmobile {
        display: block;
    }
    .ontablet {
        display: block;
    }
    #about,
    .close div {
        padding: 1px 4px;
        width: 3rem;
    }
    #about {
        position: absolute;
        top: 0;
        right: 0;
    }
    .info {
        padding: 3px 4px;
        margin-left: 6px;
    }
    footer > div > a:first-child .info {
        margin-left: 0;
    }
    .modal {
        /*top: calc(1.9rem + 3vw);*/
        top: calc(0.85rem + 1vw + 26px);
        right: 11px;
        width: calc(100vw - 22px);
        /*height: calc(100 * var(--vh) - 200px);*/
        height: calc(100 * var(--vh) - 100px);
        font: var(--font_mid);
        min-width: unset;
    }
    .modal .ml-en,
    .modal .ml-num {
        line-height: calc(0.7rem + 1.68vw);
    }
    .modal-wrapper {
        padding: 0 7px 0 14px;
    }
    .tooltip {
        top: calc(2.5rem + 4vw + 30px);
        left: 11px;
        font: var(--font_h1);
    }
    .title1::after {
        content: '';
        display: inline-block;
        width: 0;
    }
}
/*

320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV*/
